.button {
  padding: 10px;
  font-size: 16px;
  background-color: #ff6b6b;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}
.small {
  width: 20%;
}

.button:hover {
  background-color: #ff4b4b;
  transform: scale(1.05);
}

.confirm {
  background-color: #4caf50;
  color: white;
}

.confirm:hover {
  background-color: #45a049;
}

.cancel {
  background-color: #f44336;
  color: white;
}

.cancel:hover {
  background-color: #e53935;
}
