.taskItem {
  display: flex;
  align-items: flex-start;
  padding: 16px;
  margin: 12px 0;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-height: 200px;
}
.itemDetailSection {
  width: 100%;
}

.taskItemTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.circleIcon {
  cursor: pointer;
  margin-right: 14px;
  color: #999999;
  transition: color 0.2s ease;
  font-size: 14px;
}

.taskTitle {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 8px;
}
.iconButtonsWrapper {
  display: flex;
  justify-content: space-between;
  width: 50px;
  line-height: 20px;
}

.iconButton {
  color: #ff6b6b;
  margin-right: 8px;
  cursor: pointer;

  &:hover {
    font-size: 18px;
  }
}

.editIcon {
  font-size: 12px;
}

.taskComment {
  font-size: 14px;
  margin-bottom: 8px;
  color: #666666;
  height: 50px;
}

.taskItemBottom {
  display: flex;
  justify-content: space-between;
  font-size: 10px;
  width: 100%;
}

.bottomItem {
  width: 120px;
}

.taskDetails p {
  font-size: 14px;
  margin: 4px 0;
}
