.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
  background-color: white;
  height: 80px;
}

.leftSideWrapper {
  display: flex;
  align-items: center;

  img {
    max-height: 30px; 
  }
}

.centerWrapper {
  flex: 1;
  display: flex;
  justify-content: center;
}
